@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  tab-size: 4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#__next {
  @apply h-full;
  @apply w-full;
  @apply flex;
  @apply flex-col;
}

body.dark {
  background: #121212;
}

body.dark:has(#home),
body.dark:has(#signIn),
body.dark:has(#signUp) {
  background: #fff !important;
}